@import "tailwindcss";

:root {
  --background-color: #d3d3d383;
  --foreground-color: #121626;
  --text-color: #ffffff;
  --border-color: rgba(255, 99, 71, 0.39);
  --padding-exlg: 10px 100px;
  --padding-lg: 20px 80px;
  --padding-sm: 20px 20px;
}

[data-theme='dark'] {
  --background-color: #0e1123;
  --text-color: #e0e0e0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* .RootLayout {
  padding: 50px;
  background-color: #0e1123;
} */

.button-green {
  @apply bg-blue-900 text-white font-bold py-2 px-4 rounded hover:bg-blue-800 transition;
}

.button-gray {
  @apply bg-gray-700 text-white font-bold py-2 px-4 rounded hover:bg-gray-600 transition;
}

.about-me-overview-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0px;
}

.about-me-overview {
  background: white;
  padding: 5px 10px;
  font-weight: 400;
  box-shadow: 0px 0px 5px rgba(108, 108, 122, 0.479);
}

@media screen and (max-width: 500px){
  .about-me-overview-container{
    flex-direction: column;
  }
}